@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* Colors */
/* Spacing */
/* Layout */
/* Typography */
/* Mixins */
@font-face {
  font-family: 'icons';
  src: url("/assets/font/icons.eot");
  src: url("/assets/font/icons.eot?#iefix") format("embedded-opentype"), url("/assets/font/icons.woff") format("woff"), url("/assets/font/icons.ttf") format("truetype"), url("/assets/font/icons.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* GENERAL */
/* line 146, ../../scss/style.scss */
html,
body {
  height: 100%;
}

/* line 150, ../../scss/style.scss */
body {
  background: #e8e8e9;
  color: #474c51;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

/* line 158, ../../scss/style.scss */
a {
  color: #569bd9;
  text-decoration: none;
}
/* line 161, ../../scss/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 168, ../../scss/style.scss */
h1,
h2,
h3 {
  color: #192026;
  font-weight: normal;
  line-height: 120%;
  margin: 0 0 20px;
}

/* line 175, ../../scss/style.scss */
h1 {
  font-size: 32px;
}

/* line 179, ../../scss/style.scss */
h2 {
  font-size: 24px;
}

/* line 183, ../../scss/style.scss */
h3 {
  font-size: 18px;
}

/* line 187, ../../scss/style.scss */
h4 {
  font-size: 16px;
}

/* line 191, ../../scss/style.scss */
p {
  margin: 0 0 20px;
}

/* Forms */
/* line 197, ../../scss/style.scss */
form {
  line-height: 140%;
  margin: 0;
  padding: 0;
}

/* line 203, ../../scss/style.scss */
form .field {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0;
}

/* line 208, ../../scss/style.scss */
label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 215, ../../scss/style.scss */
input,
textarea {
  color: #474c51;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

/* line 224, ../../scss/style.scss */
input:not([type=submit]),
textarea,
.field .value {
  background: #FFF;
  border: 1px solid #dcddde;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px 0 inset;
  padding: 5px 10px;
}
/* line 231, ../../scss/style.scss */
input:not([type=submit]):active, input:not([type=submit]):focus,
textarea:active,
textarea:focus,
.field .value:active,
.field .value:focus {
  border-color: #9cc8ef;
  outline: none;
}
/* line 237, ../../scss/style.scss */
input:not([type=submit])[disabled], input:not([type=submit])[disabled=disabled], input:not([type=submit])[readonly=true],
textarea[disabled],
textarea[disabled=disabled],
textarea[readonly=true],
.field .value[disabled],
.field .value[disabled=disabled],
.field .value[readonly=true] {
  background: transparent;
}

/* line 242, ../../scss/style.scss */
:focus {
  outline: none;
}

/* Buttons */
/* line 248, ../../scss/style.scss */
.options {
  float: right;
}
/* line 251, ../../scss/style.scss */
.options a,
.options .label {
  float: left;
  margin-left: 10px;
}
/* line 254, ../../scss/style.scss */
.options a:before,
.options .label:before {
  font-family: 'icons';
  font-variant: normal;
  font-weight: normal;
  line-height: 120%;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}
/* line 259, ../../scss/style.scss */
.options .bundle {
  float: left;
  margin-left: 10px;
}
/* line 262, ../../scss/style.scss */
.options .bundle a {
  background: #e8e8e9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #474c51;
  border-right-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin-left: 0;
  padding: 5px 10px;
  position: relative;
}
/* line 67, ../../scss/style.scss */
.options .bundle a:hover {
  background: #eaeaeb;
  text-decoration: none;
}
/* line 72, ../../scss/style.scss */
.options .bundle a:active, .options .bundle a.active {
  background: #eaeaeb;
}
/* line 86, ../../scss/style.scss */
.options .bundle a span {
  background: #192026;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  color: #FFF;
  display: none;
  font-size: 14px;
  opacity: 0.9;
  padding: 5px 10px;
  position: absolute;
  left: -6.66667px;
  top: -40px;
  z-index: 999;
}
/* line 98, ../../scss/style.scss */
.options .bundle a span:after {
  border-right: 5px solid transparent;
  border-bottom-color: #192026;
  border-top: 5px solid #192026;
  border-left: 5px solid transparent;
  content: '';
  bottom: -5px;
  margin-right: -5px;
  position: absolute;
  left: 20px;
}
/* line 111, ../../scss/style.scss */
.options .bundle a:hover span {
  display: block;
}
/* line 115, ../../scss/style.scss */
.options .bundle a:before {
  margin-right: 0;
}
/* line 118, ../../scss/style.scss */
.options .bundle a:first-child {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
/* line 120, ../../scss/style.scss */
.options .bundle a:first-child:hover {
  border-right-width: 1px;
}
/* line 124, ../../scss/style.scss */
.options .bundle a:first-child:hover, .options .bundle a:first-child:active {
  border-right-width: 1px;
}
/* line 126, ../../scss/style.scss */
.options .bundle a:first-child:hover + a, .options .bundle a:first-child:active + a {
  border-left-width: 0;
}
/* line 131, ../../scss/style.scss */
.options .bundle a:last-child {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-right-width: 1px;
}

/* NAV */
/* line 275, ../../scss/style.scss */
#navigation {
  background: #192026;
  overflow: hidden;
  *zoom: 1;
  color: #d1d2d3;
}
/* line 279, ../../scss/style.scss */
#navigation a {
  color: #FFF;
  display: block;
  float: left;
  padding: 15px 20px;
  text-align: center;
  vertical-align: middle;
}
/* line 286, ../../scss/style.scss */
#navigation a:before {
  font-family: 'icons';
  font-variant: normal;
  font-weight: normal;
  line-height: 120%;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}
/* line 290, ../../scss/style.scss */
#navigation a.logo {
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
}
/* line 294, ../../scss/style.scss */
#navigation a.content:before {
  content: 'c';
}
/* line 297, ../../scss/style.scss */
#navigation a.media:before {
  content: 'm';
}
/* line 300, ../../scss/style.scss */
#navigation a.settings:before {
  content: 's';
}
/* line 303, ../../scss/style.scss */
#navigation a.user {
  float: right;
}
/* line 305, ../../scss/style.scss */
#navigation a.user img {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  float: left;
  margin-right: 10px;
  width: 20px;
}
/* line 314, ../../scss/style.scss */
#navigation a.active, #navigation a:active, #navigation a:hover {
  background: #2f363b;
  text-decoration: none;
}

/* MAIN */
/* line 323, ../../scss/style.scss */
#main {
  padding: 20px;
}
/* line 325, ../../scss/style.scss */
#main .sidebar {
  background: #FFF;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  float: left;
  width: 280px;
}
/* line 329, ../../scss/style.scss */
#main .sidebar .header {
  overflow: hidden;
  *zoom: 1;
  padding: 15px 20px;
}
/* line 332, ../../scss/style.scss */
#main .sidebar .header a {
  background: #9fbb58;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
}
/* line 67, ../../scss/style.scss */
#main .sidebar .header a:hover {
  background: #a8c168;
  text-decoration: none;
}
/* line 72, ../../scss/style.scss */
#main .sidebar .header a:active, #main .sidebar .header a.active {
  background: #a8c168;
}
/* line 335, ../../scss/style.scss */
#main .sidebar .header input {
  float: left;
  width: 50%;
}
/* line 341, ../../scss/style.scss */
#main .sidebar .body a {
  border-top: 1px solid #e8e8e9;
  color: #474c51;
  display: block;
  padding: 15px 20px;
}
/* line 348, ../../scss/style.scss */
#main .sidebar .body a.active, #main .sidebar .body a:active, #main .sidebar .body a:hover {
  background: #fafafa;
  text-decoration: none;
}
/* line 352, ../../scss/style.scss */
#main .sidebar .body a .description {
  color: #a3a5a8;
  display: block;
  font-size: 12px;
}
/* line 360, ../../scss/style.scss */
#main .content {
  background: #FFF;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  margin-left: 320px;
  max-width: 800px;
}
/* line 364, ../../scss/style.scss */
#main .content .header {
  padding: 15px 20px;
}
/* line 366, ../../scss/style.scss */
#main .content .header h1 {
  margin: 0;
}
/* line 369, ../../scss/style.scss */
#main .content .header a {
  background: #5ba4e5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
}
/* line 67, ../../scss/style.scss */
#main .content .header a:hover {
  background: #6bade7;
  text-decoration: none;
}
/* line 72, ../../scss/style.scss */
#main .content .header a:active, #main .content .header a.active {
  background: #6bade7;
}
/* line 373, ../../scss/style.scss */
#main .content .field {
  border-top: 1px solid #e8e8e9;
  overflow: hidden;
  *zoom: 1;
  padding: 15px 20px;
}
/* line 377, ../../scss/style.scss */
#main .content .field .label {
  color: #a3a5a8;
  margin-bottom: 10px;
}
/* line 381, ../../scss/style.scss */
#main .content .field .value {
  overflow: hidden;
  *zoom: 1;
}

/* FOOTER */
/* line 390, ../../scss/style.scss */
#footer {
  color: #a3a5a8;
  clear: both;
  font-size: 14px;
  padding: 20px;
}
/* line 395, ../../scss/style.scss */
#footer a {
  border-bottom: 1px solid #d1d2d3;
  color: #a3a5a8;
  margin-right: 5px;
  text-decoration: none;
}
/* line 401, ../../scss/style.scss */
#footer .copyright {
  float: right;
}

/* MODAL */
/* line 408, ../../scss/style.scss */
#modal {
  background-color: #FFF;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  left: 50%;
  max-width: 660px;
  min-width: 330px;
  position: fixed;
  top: 50%;
  width: 50%;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 422, ../../scss/style.scss */
#modal .header {
  padding: 20px;
}
/* line 424, ../../scss/style.scss */
#modal .header h2 {
  font-size: 32px;
  margin: 0;
}
/* line 429, ../../scss/style.scss */
#modal .content {
  padding: 0 20px;
}
/* line 432, ../../scss/style.scss */
#modal .footer {
  background: #eeefef;
  border-top: 1px solid #e8e8e9;
  overflow: hidden;
  *zoom: 1;
  padding: 20px;
  text-align: right;
}
/* line 438, ../../scss/style.scss */
#modal .footer a {
  cursor: pointer;
  margin-left: 20px;
}
/* line 443, ../../scss/style.scss */
#modal .submit {
  background: #5ba4e5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
}
/* line 67, ../../scss/style.scss */
#modal .submit:hover {
  background: #6bade7;
  text-decoration: none;
}
/* line 72, ../../scss/style.scss */
#modal .submit:active, #modal .submit.active {
  background: #6bade7;
}

/* line 448, ../../scss/style.scss */
#overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100%;
  z-index: 999;
}

/* line 463, ../../scss/style.scss */
#modal,
#overlay {
  display: none;
}

/* line 469, ../../scss/style.scss */
body.modal #modal,
body.modal #overlay {
  display: block;
}

/* line 474, ../../scss/style.scss */
#messages {
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -150px;
}
/* line 479, ../../scss/style.scss */
#messages #feedback-popup {
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  padding: 5px;
  width: 300px;
  text-align: center;
}
/* line 487, ../../scss/style.scss */
#messages .loading {
  background-color: blue;
}
/* line 490, ../../scss/style.scss */
#messages .end {
  background-color: green;
}
