@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* Colors */
/* Spacing */
/* Layout */
/* Typography */
/* Mixins */
@font-face {
  font-family: 'icons';
  src: url("/assets/font/icons.eot");
  src: url("/assets/font/icons.eot?#iefix") format("embedded-opentype"), url("/assets/font/icons.woff") format("woff"), url("/assets/font/icons.ttf") format("truetype"), url("/assets/font/icons.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* GENERAL */
/* line 147, ../../scss/style.scss */
html,
body {
  height: 100%;
}

/* line 151, ../../scss/style.scss */
body {
  background: #fafafa;
  color: #474b56;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

/* line 159, ../../scss/style.scss */
a {
  color: #5e8bf2;
  text-decoration: none;
}
/* line 162, ../../scss/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 169, ../../scss/style.scss */
h1,
h2,
h3 {
  color: #191f2c;
  font-weight: normal;
  line-height: 120%;
  margin: 0 0 20px;
}

/* line 176, ../../scss/style.scss */
h1 {
  font-size: 32px;
}

/* line 180, ../../scss/style.scss */
h2 {
  font-size: 24px;
}

/* line 184, ../../scss/style.scss */
h3 {
  font-size: 18px;
}

/* line 188, ../../scss/style.scss */
h4 {
  font-size: 16px;
}

/* line 192, ../../scss/style.scss */
p {
  margin: 0 0 20px;
}

/* Forms */
/* line 198, ../../scss/style.scss */
form {
  line-height: 140%;
  margin: 0;
  padding: 0;
}

/* line 204, ../../scss/style.scss */
form .field {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0;
}

/* line 209, ../../scss/style.scss */
label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 216, ../../scss/style.scss */
input,
textarea {
  color: #474b56;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
}

/* line 224, ../../scss/style.scss */
input:not([type=submit]),
textarea {
  background: #FFF;
  border: 1px solid #dcdddf;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px 0 inset;
  padding: 5px 10px;
}
/* line 231, ../../scss/style.scss */
input:not([type=submit]):active, input:not([type=submit]):focus,
textarea:active,
textarea:focus {
  border-color: #a1beff;
  outline: none;
}
/* line 237, ../../scss/style.scss */
input:not([type=submit])[disabled], input:not([type=submit])[disabled=disabled], input:not([type=submit])[readonly=true],
textarea[disabled],
textarea[disabled=disabled],
textarea[readonly=true] {
  background: transparent;
}

/* line 242, ../../scss/style.scss */
:focus {
  outline: none;
}

/* Buttons */
/* line 248, ../../scss/style.scss */
.options {
  float: right;
}
/* line 251, ../../scss/style.scss */
.options a,
.options .label {
  margin-left: 5px;
}
/* line 253, ../../scss/style.scss */
.options a:before,
.options .label:before {
  font-family: 'icons';
  font-variant: normal;
  font-weight: normal;
  line-height: 120%;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}
/* line 258, ../../scss/style.scss */
.options .bundle {
  float: left;
  margin-left: 10px;
}
/* line 261, ../../scss/style.scss */
.options .bundle a {
  background: #e8e8e9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #474b56;
  border-right-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin-left: 0;
  padding: 5px 10px;
  position: relative;
}
/* line 68, ../../scss/style.scss */
.options .bundle a:hover {
  background: #eaeaeb;
  text-decoration: none;
}
/* line 73, ../../scss/style.scss */
.options .bundle a:active, .options .bundle a.active {
  background: #eaeaeb;
}
/* line 87, ../../scss/style.scss */
.options .bundle a span {
  background: #191f2c;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  color: #FFF;
  display: none;
  font-size: 14px;
  opacity: 0.9;
  padding: 5px 10px;
  position: absolute;
  left: -6.66667px;
  top: -40px;
  z-index: 999;
}
/* line 99, ../../scss/style.scss */
.options .bundle a span:after {
  border-right: 5px solid transparent;
  border-bottom-color: #191f2c;
  border-top: 5px solid #191f2c;
  border-left: 5px solid transparent;
  content: '';
  bottom: -5px;
  margin-right: -5px;
  position: absolute;
  left: 20px;
}
/* line 112, ../../scss/style.scss */
.options .bundle a:hover span {
  display: block;
}
/* line 116, ../../scss/style.scss */
.options .bundle a:before {
  margin-right: 0;
}
/* line 119, ../../scss/style.scss */
.options .bundle a:first-child {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
/* line 121, ../../scss/style.scss */
.options .bundle a:first-child:hover {
  border-right-width: 1px;
}
/* line 125, ../../scss/style.scss */
.options .bundle a:first-child:hover, .options .bundle a:first-child:active {
  border-right-width: 1px;
}
/* line 127, ../../scss/style.scss */
.options .bundle a:first-child:hover + a, .options .bundle a:first-child:active + a {
  border-left-width: 0;
}
/* line 132, ../../scss/style.scss */
.options .bundle a:last-child {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-right-width: 1px;
}

/* NAV */
/* line 274, ../../scss/style.scss */
#navigation {
  background: #191f2c;
  border-right: 1px solid #161b27;
  overflow: hidden;
  *zoom: 1;
  color: #d1d2d4;
  height: 100%;
  position: fixed;
  width: 280px;
}
/* line 282, ../../scss/style.scss */
#navigation a {
  color: #f3f3f4;
  display: block;
  padding: 15px 20px;
  vertical-align: middle;
}
/* line 287, ../../scss/style.scss */
#navigation a:before {
  font-family: 'icons';
  font-variant: normal;
  font-weight: normal;
  line-height: 120%;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}
/* line 291, ../../scss/style.scss */
#navigation a.logo {
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
}
/* line 294, ../../scss/style.scss */
#navigation a.logo:before {
  content: 'b';
}
/* line 298, ../../scss/style.scss */
#navigation a.content:before {
  content: 'c';
}
/* line 301, ../../scss/style.scss */
#navigation a.media:before {
  content: 'm';
}
/* line 304, ../../scss/style.scss */
#navigation a.settings:before {
  content: 's';
}
/* line 307, ../../scss/style.scss */
#navigation a.pusher:before {
  content: 'g';
}
/* line 310, ../../scss/style.scss */
#navigation a.user {
  /*position: fixed;*/
}
/* line 312, ../../scss/style.scss */
#navigation a.user img {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  float: left;
  margin-right: 10px;
  width: 20px;
}
/* line 321, ../../scss/style.scss */
#navigation a.active, #navigation a:active, #navigation a.active:hover {
  background: #242a36;
  color: #FFF;
}
/* line 325, ../../scss/style.scss */
#navigation a:hover {
  background: #161b27;
  color: #FFF;
  text-decoration: none;
}
/* line 331, ../../scss/style.scss */
#navigation .sub {
  background: #242a36;
}
/* line 333, ../../scss/style.scss */
#navigation .sub .header {
  border-top: 1px solid #191f2c;
  font-size: 14px;
  padding: 15px 20px;
}
/* line 337, ../../scss/style.scss */
#navigation .sub .header input {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-size: 14px;
  padding: 2.5px 10px;
  width: 50%;
}
/* line 343, ../../scss/style.scss */
#navigation .sub .header a {
  background: #6393ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
  padding: 2.5px 10px;
}
/* line 68, ../../scss/style.scss */
#navigation .sub .header a:hover {
  background: #729dff;
  text-decoration: none;
}
/* line 73, ../../scss/style.scss */
#navigation .sub .header a:active, #navigation .sub .header a.active {
  background: #729dff;
}
/* line 349, ../../scss/style.scss */
#navigation .sub .body a {
  border-top: 1px solid #191f2c;
}
/* line 351, ../../scss/style.scss */
#navigation .sub .body a:hover {
  background: #161b27;
}
/* line 354, ../../scss/style.scss */
#navigation .sub .body a .description {
  color: #a3a5aa;
  display: block;
  font-size: 12px;
}

/* MAIN */
/* line 366, ../../scss/style.scss */
#main {
  margin-left: 280px;
  padding: 0 20px;
}
/* line 369, ../../scss/style.scss */
#main .header {
  border-bottom: 1px solid #e8e8e9;
  padding: 15px 0;
}
/* line 372, ../../scss/style.scss */
#main .header .save {
  background: #98cc3b;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
  margin-right: 10px;
}
/* line 68, ../../scss/style.scss */
#main .header .save:hover {
  background: #a2d14e;
  text-decoration: none;
}
/* line 73, ../../scss/style.scss */
#main .header .save:active, #main .header .save.active {
  background: #a2d14e;
}
/* line 376, ../../scss/style.scss */
#main .header .history {
  opacity: 0.5;
}
/* line 378, ../../scss/style.scss */
#main .header .history:hover {
  opacity: 1;
}
/* line 382, ../../scss/style.scss */
#main .header .delete {
  color: #ff7b60;
}
/* line 387, ../../scss/style.scss */
#main .content .field {
  border-bottom: 1px solid #e8e8e9;
  overflow: hidden;
  *zoom: 1;
  padding: 15px 0;
}
/* line 391, ../../scss/style.scss */
#main .content .field .label {
  color: #a3a5aa;
  float: left;
  width: 140px;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 398, ../../scss/style.scss */
#main .content .field .value {
  max-width: 800px;
  margin-left: 160px;
}
/* line 402, ../../scss/style.scss */
#main .content .field .value .editable,
#main .content .field .value input {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  margin: -5px;
  padding: 5px;
}
/* line 411, ../../scss/style.scss */
#main .content .field .value .editable:hover, #main .content .field .value .editable:active, #main .content .field .value .editable:focus,
#main .content .field .value input:hover,
#main .content .field .value input:active,
#main .content .field .value input:focus {
  background: #FFF;
}
/* line 415, ../../scss/style.scss */
#main .content .field .value input {
  width: 100%;
}

/* MODAL */
/* line 425, ../../scss/style.scss */
#modal {
  background-color: #FFF;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  left: 50%;
  max-width: 660px;
  min-width: 330px;
  position: fixed;
  top: 50%;
  width: 50%;
  z-index: 2000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 439, ../../scss/style.scss */
#modal .header {
  padding: 20px;
}
/* line 441, ../../scss/style.scss */
#modal .header h2 {
  font-size: 32px;
  margin: 0;
}
/* line 446, ../../scss/style.scss */
#modal .content {
  padding: 0 20px;
}
/* line 449, ../../scss/style.scss */
#modal .footer {
  background: #eeeff0;
  border-top: 1px solid #e8e8e9;
  overflow: hidden;
  *zoom: 1;
  padding: 20px;
  text-align: right;
}
/* line 455, ../../scss/style.scss */
#modal .footer a {
  cursor: pointer;
  margin-left: 20px;
}
/* line 460, ../../scss/style.scss */
#modal .submit {
  background: #6393ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
}
/* line 68, ../../scss/style.scss */
#modal .submit:hover {
  background: #729dff;
  text-decoration: none;
}
/* line 73, ../../scss/style.scss */
#modal .submit:active, #modal .submit.active {
  background: #729dff;
}

/* line 465, ../../scss/style.scss */
#overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100%;
  z-index: 999;
}

/* line 480, ../../scss/style.scss */
#modal,
#overlay {
  display: none;
}

/* line 486, ../../scss/style.scss */
body.modal #modal,
body.modal #overlay {
  display: block;
}

/* line 491, ../../scss/style.scss */
#messages {
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -150px;
}
/* line 496, ../../scss/style.scss */
#messages #feedback-popup {
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  padding: 5px;
  width: 300px;
  text-align: center;
}
/* line 504, ../../scss/style.scss */
#messages .loading {
  background-color: blue;
}
/* line 507, ../../scss/style.scss */
#messages .end {
  background-color: green;
}

/* Other */
/* line 513, ../../scss/style.scss */
.btn {
  background: #6393ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
  margin-right: 5px;
}
/* line 68, ../../scss/style.scss */
.btn:hover {
  background: #729dff;
  text-decoration: none;
}
/* line 73, ../../scss/style.scss */
.btn:active, .btn.active {
  background: #729dff;
}

/* line 518, ../../scss/style.scss */
.sml-btn {
  background: #6393ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 80%;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  color: #FFF;
  padding: 5px 20px;
}
/* line 68, ../../scss/style.scss */
.sml-btn:hover {
  background: #729dff;
  text-decoration: none;
}
/* line 73, ../../scss/style.scss */
.sml-btn:active, .sml-btn.active {
  background: #729dff;
}

/* line 523, ../../scss/style.scss */
.pusher-list {
  padding: 6.66667px;
}
/* line 526, ../../scss/style.scss */
.pusher-list span a {
  margin-right: 10px;
}
/* line 529, ../../scss/style.scss */
.pusher-list span select {
  margin-right: 10px;
}
