<!DOCTYPE html>
<html x-ng-app="DCMS">
  <head>
    <title>devo.ps | Manage your infrastructure.</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="devo.ps allows you to manage your whole DevOps strategy, from managing your servers to deploying applications on them and automating your Operations.">
    <meta name="viewport" content="width=device-width">
    
    <!-- Icons -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    
    <!-- CSS -->
    
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    
      <link rel="stylesheet" href="css/normalize.css">
    
      <link rel="stylesheet" href="css/font.css">
    
      <link rel="stylesheet" href="css/style.css">
    
      <link rel="stylesheet" href="css/angular.css">
    
      <link rel="stylesheet" href="lib/moleskine/css/moleskine.css">
    

    
  </head>
  <body ng-controller="MainCtrl">
    <div id="app">
      
      <header id="header">        
        <nav>
          <a href="#help" class="help">Help</a>
          <a href="#user" class="user">{{User.get().name}} <i>{{User.get().privateBytes | bytesToMb}} / {{User.get().usedQuota | bytesToMb}}</i></a>

        </nav>
        <a href="#" id="logo">focused.io</a>
      </header>

      
      <section id="main">

        <nav id="menu" ng-controller="NavbarCtrl">

          <header>
            <div id="logo">
              <!-- LOGO -->
            </div>

            <select ng-model="Context.current_project"
                    class="project-select"
                    ng-options="project for project in Context.projects">
            </select>

            <div style="float : right; margin-right : 5px;">
              <a class="settings" data-icon="a" ng-click="createNewProject()"></a>
              <a class="settings" data-icon="s" ng-click="projectPopover = !projectPopover"></a>
              <div class="popover popover-edit-project" ng-show="projectPopover">
                <a ng-click="deleteProject(); projectPopover = false">Delete Project</a>
                <a ng-click="refreshProject(); projectPopover = false">Force Refresh</a>
              </div>
            </div>
                        
          </header>
          
          <a href="/#/" class="apps" ng-class="{active : isActive('#/')}" data-icon="A">Posts</a>
          <a href="/#/medias" class="servers" ng-class="{active : isActive('#/medias')}" data-icon="S">Media</a>
          <a href="/#/types" class="settings" data-icon="s" ng-class="{active : isActive('#/types')}">Types</a>
          <a href="/#/pusher" class="settings" data-icon="l" ng-class="{active : isActive('#/pusher')}">Pusher</a>
        </nav>

        <ng-view></ng-view>
        
                
      </section>
    </div>

    <section id="messages">
      <feedback></feedback>
    </section>

    <!-- JS -->
    
      <script src="lib/html5.js"></script>
    
      <script src="lib/spin.min.js"></script>
    
      <script src="lib/jquery-2.0.2.min.js"></script>
    
      <script src="lib/dropbox.min.js"></script>
    
      <script src="lib/angular.min.js"></script>
    
      <script src="lib/jsonml-xml.js"></script>
    
      <script src="lib/underscore-min.js"></script>
    
      <script src="lib/github.js"></script>
    
      <script src="js/jcss.js"></script>
    
      <script src="lib/angular-resource.min.js"></script>
    
      <script src="lib/angular-mobile.min.js"></script>
    
      <script src="lib/moment.min.js"></script>
    
      <script src="lib/modernizr.min.js"></script>
    
      <script src="lib/js-yaml.min.js"></script>
    
      <script src="lib/angular-ui-router.min.js"></script>
    
      <script src="js/yaml-front.js"></script>
    
      <script src="js/routes.js"></script>
    
      <script src="js/services/Context.js"></script>
    
      <script src="js/services/PhotoResizer.js"></script>
    
      <script src="js/services/Feedback.js"></script>
    
      <script src="js/services/dropbox.js"></script>
    
      <script src="js/services/localStorageModule.js"></script>
    
      <script src="js/factories/User.js"></script>
    
      <script src="js/filters.js"></script>
    
      <script src="js/directives/foundation_directives.js"></script>
    
      <script src="js/controllers/main_controller.js"></script>
    
      <script src="lib/moleskine/js/jquery.autogrow.js"></script>
    
      <script src="lib/moleskine/js/showdown.js"></script>
    
      <script src="lib/moleskine/js/reMarked.js"></script>
    
      <script src="lib/moleskine/js/moleskine.js"></script>
    
      <script src="lib/moleskine/js/moleskine.conf.js"></script>
    
      <script src="lib/moleskine/js/moleskine-angular.js"></script>
    
    
  </body>
</html>
