<!DOCTYPE html>
<html x-ng-app="DCMS">
  <head>
    <title>Box CMS</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Box Content Management System">
    <meta name="viewport" content="width=device-width">
    
    <!-- Icons -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    
    <!-- CSS -->
    
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    
      <link rel="stylesheet" href="css/normalize.css">
    
      <link rel="stylesheet" href="css/font.css">
    
      <link rel="stylesheet" href="css/style.css">
    
      <link rel="stylesheet" href="css/angular.css">
    
      <link rel="stylesheet" href="lib/moleskine/css/moleskine.css">
    

  </head>

  <body ng-controller="MainCtrl">

    <nav id='navigation' ng-controller="NavbarCtrl">

      <a href='/#/' class='logo'>Box CMS</a>

      <a href='/#/' class='content' ng-class='{active:isActive("#/")}'>Content</a>
        <nav class='sub' ng-show='isActive("#/")' ng-controller="ProjectCtrl">
          <header class='header'>
            <div class='options'>
              <a href='' ng-click='showTypes = !showTypes'>Add</a>
            </div>
            <input type='text' placeholder='Filter by keyword' ng-model='contentSearch' />
          </header>
          <header class='header' ng-show='showTypes'>
            <a href='' ng-repeat='(key, dt) in Context.types' ng-click='add(dt);'>
              Add {{ key }}
            </a>
          </header>
          <section class='body'>
            
            <a ng-repeat='content in Context.bulk_contents | filter:contentSearch'
               ng-click='editMode(content)'>
               <!-- ng-class='{active : content.meta.filename == Context.current_content.meta.filename}' -->
              {{ content.meta.filename }}
              <span class='description'><b>Type:</b> {{ content.meta.type }}</span>
            </a>

            <!-- IF no Types -->
            <a ng-show='(Context.types | objectLength) == 0'
               href='#/types'>
              No types, click to create a type
              <span class='description'>You need at least 1 type to create content</span>
            </a>

            <!-- IF no Content -->
            <a ng-show='(Context.types | objectLength) != 0 && Context.bulk_contents.length == 0'
               ng-click='showTypes = !showTypes'>
               No content yet! Click to create new content
               <span class='description'>Time to get started!</span>
            </a>

          </section>
        </nav>

      <a href='/#/medias' class='media' ng-class='{active:isActive("#/medias")}'>Media</a>

      <a href='/#/types' class='settings' ng-class='{active:isActive("#/types")}'>Settings</a>
<!--         <nav class='sub' ng-show='isActive("#/types")'>
          <header class='header'>
            <div class='options'>
              <a href='' ng-click='createNewProject()'>New</a>
            </div>
            <select ng-model='Context.current_project'
                    ng-options='project for project in Context.projects'>
            </select>
          </header>
          <section class='body'>
            <a href='' ng-click='deleteProject();'>Delete {{ Context.current_project }}</a>
            <a href='' ng-click='refreshProject();'>Refresh {{ Context.current_project }}</a>
          </section>
        </nav> -->
        <nav class='sub' ng-show='isActive("#/types")' ng-controller="TypesCtrl">
          <header class='header'>
            <div class='options'>
              <a href='' ng-click='add()'>New</a>
            </div>
            <input type='text' placeholder='Filter by keyword' ng-model='typeSearch' />
          </header>
          <section class='body'>
            
            <a ng-repeat='(key, type) in Context.types | filter:typeSearch'
               ng-click='editMode(type)'>
              {{ type.name }}
              <span class='description'><b>Fields:</b> {{ keyNumbers(type.schema.properties) }}</span>
            </a>

            <!-- IF no Types -->
            <a ng-show='(Context.types | objectLength) == 0'
               ng-click='add()' href=''>
              No types, click to create a type
              <span class='description'>You need at least 1 type to create content</span>
            </a>

          </section>
        </nav>

      <a href='/#/user' class='user'><img src='/assets/images/hunvreus.jpeg' alt='{{User.get().name}}' />
        {{ User.get().name }}
      </a>

      <a href='' ng-click='debugMe()'><code>Console.log(Context)</code></a>
    </nav>

    <!-- Main View -->
    <section id='main'>
      <ng-view></ng-view>
    </section>

    <!-- Orion Feedback Messages -->
    <section id="messages">
      <feedback></feedback>
    </section>

    <!-- OVERLAY & MODAL -->
    <div id='overlay'></div>
    <div id='modal'>
      <header class='header'>
        <div class='options'>
          <a class='close'>Close</a>
        </div>
        <h2>Hello there, this is a prompt</h2>
      </header>

      <section class='wrapper'>
         <p>Stuff you would display in a prompt.</p>
      </section>

      <footer class='footer'>
        <a class='cancel'>Cancel</a>
        <a class='submit'>Chat</a>
      </footer>
    </div>

    <!-- JS -->
    
      <script src="lib/html5.js"></script>
    
      <script src="lib/spin.min.js"></script>
    
      <script src="lib/jquery-2.0.2.min.js"></script>
    
      <script src="lib/dropbox.min.js"></script>
    
      <script src="lib/angular.min.js"></script>
    
      <script src="lib/jsonml-xml.js"></script>
    
      <script src="lib/underscore-min.js"></script>
    
      <script src="lib/github.js"></script>
    
      <script src="js/jcss.js"></script>
    
      <script src="lib/angular-resource.min.js"></script>
    
      <script src="lib/angular-mobile.min.js"></script>
    
      <script src="lib/moment.min.js"></script>
    
      <script src="lib/modernizr.min.js"></script>
    
      <script src="lib/js-yaml.min.js"></script>
    
      <script src="lib/angular-ui-router.min.js"></script>
    
      <script src="js/yaml-front.js"></script>
    
      <script src="js/routes.js"></script>
    
      <script src="js/services/Context.js"></script>
    
      <script src="js/services/PhotoResizer.js"></script>
    
      <script src="js/services/Feedback.js"></script>
    
      <script src="js/services/dropbox.js"></script>
    
      <script src="js/services/localStorageModule.js"></script>
    
      <script src="js/factories/User.js"></script>
    
      <script src="js/filters.js"></script>
    
      <script src="js/directives/foundation_directives.js"></script>
    
      <script src="js/controllers/main_controller.js"></script>
    
      <script src="lib/moleskine/js/jquery.autogrow.js"></script>
    
      <script src="lib/moleskine/js/showdown.js"></script>
    
      <script src="lib/moleskine/js/reMarked.js"></script>
    
      <script src="lib/moleskine/js/moleskine.js"></script>
    
      <script src="lib/moleskine/js/moleskine.conf.js"></script>
    
      <script src="lib/moleskine/js/moleskine-angular.js"></script>
    

  </body>

</html>