<nav class='sidebar'>
  <header class='header'>
    <div class='options'>
      <a ng-click='add()'>Add</a>
    </div>
    <input type='text' placeholder='Filter by keyword' ng-model='fts'/>
  </header>
  <section class='body'>

    <!-- ng-repeat items -->
    <a ng-repeat='content in Context.bulk_contents | filter:fts'
       ng-click='editMode(content)'
       ng-class='{active : content.meta.filename == Context.current_content.meta.filename}'>
       {{ content.meta.filename }}
       <span class='description'><b>Type:</b> {{ content.meta.type }}</span>
    </a>

    <!-- IF no Types -->
    <a ng-show='(Content.types | objectLength) === 0'
       href='#/types'>
      No types, click to create a type
      <span class='description'>You need at least 1 type to create content</span>
    </a>

    <!-- IF no Content -->
    <a ng-show='(Context.types | objectLength) != 0 && Context.bulk_contents.length == 0'
       ng-click='add()'>
       No content yet! Click to create new content
       <span class='description'>Time to get started!</span>
    </a>

  </section>
</nav>

<article class='content'>
  <header class='header'>
    <div class='options'>
      <a class='save' ng-click='submit()'>Save</a>
    </div>
    <div class='options'>
      <a class='save' ng-click='remove()'>Delete</a>
    </div>
    <h1>{{ Context.current_content.meta.filename }}<h1>
  </header>
  <section class='field title'>
    <div class='label'>Filename</div>
    <input type='text' ng-model='Context.current_content.meta.filename' class='value' />
  </section>

  <!-- ng-repeat meta data inputs -->
  <section class='field title' 
           ng-repeat='(key, field) in Context.current.meta.schema.properties'>
    <div class='label'>{{ key }}</div>
    <input type='{{ field.type }}' ng-model='Context.current_content.data[key]' class='value' />
  </section>

  <section class='field body'>
    <div class='label'>Body</div>
    <!-- <div class='value editable'></div> -->
    <moleskine bind-data="Context.current_content.data['__content']"
           base-content="static_content"
           width="550"
           default-mode="html"
           input="markdown"
           output="markdown"
           height="450"></moleskine>
  </section>
</article>