<article>
  <header>
    <h1>Remote push</h1>
  </header>
  <section id="body">               
    <span><b>Github</b> <a class="button" ng-click="oauthGithub()">Authorize</a></span>
    <ul>
      <li class='pusher-list'
          ng-repeat="repo in repositories"
          ng-click="getRepoInfos(repo)">
        <span>
          <a href=''>{{repo.full_name}}</a>
            <select ng-show="repo.branch_selected"
                    ng-model="repo.branch_selected"
                    ng-options="branch for branch in repo.branches">
            </select>
            <a class="sml-btn" href='' ng-show="repo.branch_selected" ng-click="pushContent(repo)">Push</a>
        </span>
      </li>
    </ul>
  </section>
</article>

