<article>
  <header>
    <h1>Remote push</h1>
  </header>
  <section id="body">               
    <span><b>Github</b> <a class="button" ng-click="oauthGithub()">Authorize</a></span>
    <ul>
      <li ng-repeat="repo in repositories"
          ng-click="getRepoInfos(repo)">
        <span><a href=''>{{repo.full_name}}</a></span>
        <div ng-show="repo.branch_selected">
          <select ng-model="repo.branch_selected"
                  ng-options="branch for branch in repo.branches">
          </select>
          <a class="button" ng-click="pushContent(repo)">Push</a>
        </div>
      </li>
    </ul>
  </section>
</article>

