<section ng-hide='Context.current_type != null'>
  <h2>Create or select a type to continue...</h2>
</section>

<section ng-show='Context.current_type != null'>
  <header class='header'>
    <div class='options'>
      <a class='delete' ng-click='remove()'>Delete</a>
    </div>
    <a class='save' ng-click='createNewContentType()'>Save</a>
  </header>

  <article class='content'>

    <section class='field'>
      <div class='label'>Type name</div>
      <input type="text" ng-model="Context.current_type.name"/>
    </section>

    <section class='field'>
      <h2>Add Field</h2>
      <div class='label'>Field title</div>
      <input type="text" ng-model="ntype.title"/>
      <br />
      <br />
      <div class='label'>Type</div>
      <select ng-options="type for type in types_available",
              ng-model="ntype.type">
      </select>
      <a type="submit" class="button" ng-click="appendField()">Add</a>
    </section>

    <br />
    <h2>Form preview</h2>
    <div class='field' ng-repeat="(key, field) in Context.current_type.schema.properties">
      <div class="label" for="{{key}}">{{key}}</div>
      <input name="{{key}}" type="{{field.type}}"/>
      <a class="delete" ng-click="deleteField(field)">Remove</a>
    </div>

  </article>
</section>