/* line 8, ../../scss/_specific.scss */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
/* line 13, ../../scss/_specific.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
/* line 20, ../../scss/_specific.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 26, ../../scss/_specific.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

/* line 37, ../../scss/_specific.scss */
.fade-hide-setup, .fade-show-setup {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 43, ../../scss/_specific.scss */
.fade-hide-setup {
  opacity: 0;
}

/* line 47, ../../scss/_specific.scss */
.fade-hide-setup.fade-hide-start {
  opacity: 1;
}

/* line 51, ../../scss/_specific.scss */
.fade-show-setup {
  opacity: 1;
}

/* line 55, ../../scss/_specific.scss */
.fade-show-setup.fade-show-start {
  opacity: 0;
}

/* line 62, ../../scss/_specific.scss */
.mobile {
  display: none !important;
}
@media screen and (max-width: 800px) {
  /* line 62, ../../scss/_specific.scss */
  .mobile {
    display: block !important;
  }
}

/* line 69, ../../scss/_specific.scss */
.desktop {
  display: block !important;
}
@media screen and (max-width: 800px) {
  /* line 69, ../../scss/_specific.scss */
  .desktop {
    display: none !important;
  }
}
