
.row
	.large-12.columns
		.docs.header
			h1
				a(href="http://foundation.zurb.com/docs/", target="_blank") Foundation CheatSheet
		hr

.row
	.large-12.columns
		h4 Sidenav
		div.
			<ul class="side-nav">
			<li class="active"><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li class="divider"></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
			</ul>
		hr
		h4 Subnav
		div.
			<dl class="sub-nav">
			<dt>Filter:</dt>
			<dd class="active"><a href="#">All</a></dd>
			<dd><a href="#">Active</a></dd>
			<dd><a href="#">Pending</a></dd>
			<dd><a href="#">Suspended</a></dd>
			</dl>
		hr
		h4 Breadcumbs
		div.
			<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="unavailable"><a href="#">Gene Splicing</a></li>
			<li class="current"><a href="#">Cloning</a></li>
			</ul>

			<!-- You can also use this markup -->
			<nav class="breadcrumbs">
			<a href="#">Home</a>
			<a href="#">Features</a>
			<a class="unavailable" href="#">Gene Splicing</a>
			<a class="current" href="#">Cloning</a>
			</nav>


		hr
		h4 Grid
		div.
			<div class="row">
			<div class="small-8 columns">8
			<div class="row">
			<div class="small-8 columns">8 Nested
			<div class="row">
			<div class="small-8 columns">8 Nested Again</div>
			<div class="small-4 columns">4</div>
			</div>
			</div>
			<div class="small-4 columns">4</div>
			</div>
			</div>
			<div class="small-4 columns">4</div>
			</div>

		hr
		h4 Button classic
		div.
			<a href="#" class="button">Default Button</a>
			<a href="#" class="tiny button">Tiny Button</a>
			<a href="#" class="small button">Small Button</a>
			<a href="#" class="large button">Large Button</a>

			<!-- Color Classes -->
			<a href="#" class="button secondary">Secondary Button</a>
			<a href="#" class="button success">Success Button</a>
			<a href="#" class="button alert">Alert Button</a>

			<!-- Radius Classes -->
			<a href="#" class="button radius">Radius Button</a>
			<a href="#" class="button round">Round Button</a>

			<!-- Disabled Class -->
			<a href="#" class="button disabled">Disabled Button</a>
		hr
		h4 Button group
		div.
			<ul class="button-group">
			<li><a href="#" class="small button">Button 1</a></li>
			<li><a href="#" class="small button">Button 2</a></li>
			<li><a href="#" class="small button">Button 3</a></li>
			</ul>

			<!-- A round, even-3 button-group with default alert buttons inside. -->
			<!-- Do not put the radius classes on the buttons themselves. -->
			<ul class="button-group round even-3">
			<li><a href="#" class="button alert">Button 1</a></li>
			<li><a href="#" class="button alert">Button 2</a></li>
			<li><a href="#" class="button alert">Button 3</a></li>
			</ul>
		hr
		h4 Button bar
		div.
			<div class="button-bar">
			<ul class="button-group">
			<li><a href="#" class="small button">Button 1</a></li>
			<li><a href="#" class="small button">Button 2</a></li>
			<li><a href="#" class="small button">Button 3</a></li>
			</ul>
			<ul class="button-group">
			<li><a href="#" class="small button">Button 1</a></li>
			<li><a href="#" class="small button">Button 2</a></li>
			<li><a href="#" class="small button">Button 3</a></li>
			</ul>
			</div>

		hr
		h4 Form
		div.
			<form>
			<fieldset>
			<legend>Fieldset</legend>

			<div class="row">
			<div class="large-12 columns">
			<label>Input Label</label>
			<input type="text" placeholder="large-12.columns">
			</div>
			</div>

			<div class="row">
			<div class="large-4 columns">
			<label>Input Label</label>
			<input type="text" placeholder="large-4.columns">
			</div>
			<div class="large-4 columns">
			<label>Input Label</label>
			<input type="text" placeholder="large-4.columns">
			</div>
			<div class="large-4 columns">
			<div class="row collapse">
			<label>Input Label</label>
			<div class="small-9 columns">
			<input type="text" placeholder="small-9.columns">
			</div>
			<div class="small-3 columns">
			<span class="postfix">.com</span>
			</div>
			</div>
			</div>
			</div>

			<div class="row">
			<div class="large-12 columns">
			<label>Textarea Label</label>
			<textarea placeholder="small-12.columns"></textarea>
			</div>
			</div>

			</fieldset>
			</form>
		hr
		h4 Form 2
		div.
			<form>
			<div class="row collapse">
			<div class="small-3 large-2 columns">
			<span class="prefix">http://</span>
			</div>
			<div class="small-9 large-10 columns">
			<input type="text" placeholder="Enter your URL...">
			</div>
			</div>
			<div class="row">
			<div class="large-6 columns">
			<div class="row collapse">
			<div class="small-10 columns">
			<input type="text" placeholder="Hex Value">
			</div>
			<div class="small-2 columns">
			<a href="#" class="button prefix">Action</a>
			</div>
			</div>
			</div>
			<div class="large-6 columns">
			<div class="row collapse">
			<div class="small-9 columns">
			<input type="text" placeholder="Value">
			</div>
			<div class="small-3 columns">
			<span class="postfix radius">Label</span>
			</div>
			</div>
			</div>
			</div>
			</form>
		hr
		h4 Form 3 Error
		div.
			<form>
			<div class="row">
			<div class="large-6 columns">
			<label class="error">Error</label>
			<input type="text" class="error" />
			<small class="error">Invalid entry</small>
			</div>
			<div class="large-6 columns error">
			<label>Another Error</label>
			<input type="text" />
			<small>Invalid entry</small>
			</div>
			</div>
			<textarea class="error" placeholder="Message..."></textarea>
			<small class="error">Invalid entry</small>
			</form>
		hr
		h4 Label
		div.
			<span class="label">Regular Label</span>
			<span class="radius secondary label">Radius Secondary Label</span>
			<span class="round alert label">Round Alert Label</span>
			<span class="success label">Success Label</span>
		hr
		h4 Alert Boxes
		div.
			<div data-alert="" class="alert-box radius">
			This is a standard alert (div.alert-box).
			<a href="" class="close">×</a>
			</div>
			<div data-alert="" class="alert-box success">
			This is a success alert (div.alert-box.success).
			<a href="" class="close">×</a>
			</div>
			<div data-alert="" class="alert-box alert round">
			This is an alert (div.alert-box.alert.round).
			<a href="" class="close">×</a>
			</div>
			<div data-alert="" class="alert-box secondary">
			This is a secondary alert (div.alert-box.secondary).
			<a href="" class="close">×</a>
			</div>

		hr
		h4 Panel
		div.
			<div class="panel">
			Blblsdlbldbs
			</div>
			<br/>
			<div class="panel callout radius">
			<h5>This is a callout panel.</h5>
			<p>It's a little ostentatious, but useful for important content.</p>
			</div>
		hr
		h4 Pricing table
		div.
			<ul class="pricing-table">
			<li class="title">Standard</li>
			<li class="price">$99.99</li>
			<li class="description">An awesome description</li>
			<li class="bullet-item">1 Database</li>
			<li class="bullet-item">5GB Storage</li>
			<li class="bullet-item">20 Users</li>
			<li class="cta-button"><a class="button" href="#">Buy Now</a></li>
			</ul>
		hr
		h4 Progress bar
		div.
			<div class="progress"><span class="meter"></span></div>
			<div class="progress large-6 success round"><span class="meter" style="width: 40%"></span></div>
		hr
		h4 table
		div.
			<table>
			<thead>
			<tr>
			<th width="200">Table Header</th>
			<th>Table Header</th>
			<th width="150">Table Header</th>
			<th width="150">Table Header</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>Content Goes Here</td>
			<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
			<td>Content Goes Here</td>
			<td>Content Goes Here</td>
			</tr>
			<tr>
			<td>Content Goes Here</td>
			<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			<td>Content Goes Here</td>
			<td>Content Goes Here</td>
			</tr>
			<tr>
			<td>Content Goes Here</td>
			<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			<td>Content Goes Here</td>
			<td>Content Goes Here</td>
			</tr>
			</tbody>
			</table>
