.row
  .row
    .large-12.columns
      h3 Creating a new content type for {{project_name}}
        small &nbsp; project
      hr
  .row
    .large-6.columns
      form.panel
        h5 Global type infos
        .row.collapse
          .small-3.large-3.columns
            span.prefix Content Title
          .small-9.large-9.columns
            input(type="text", ng-model="type.title")
        h5 Add field type
        .row.collapse
          .small-3.large-2.columns
            span.prefix Title
          .small-9.large-10.columns
            input(type="text", ng-model="ntype.title")
        .row.collapse
          .small-3.large-2.columns
            span.prefix Type
          .small-9.large-10.columns
            select(type="text", ng-model="ntype.type", ng-options="type for type in types_available")
        br
        div.button.small(ng-click="appendType()") Add
        div.button.small(ng-click="createNewContentType()") Create
    .large-6.columns.panel
      h3 Json preview
      pre(ng-bind="type | beautifyJson")
      br
      div.button.tiny(ng-click="type = {}") Reset
      hr
      h3 Form preview
      form
        span(ng-repeat="(key, field) in type.properties")
          label {{key}}
          input(type="{{field.type}}", ng-model="data[key]")
        label Content
        textarea(ng-show="data['__content']", style="height : 500px") {{data['__content']}}

      
