<!DOCTYPE html>
<html x-ng-app="DCMS">
  <head>
    <title><%= data.title %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="<%= data.description %>">
    <meta name="viewport" content="width=device-width">
    
    <!-- Icons -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    
    <!-- CSS -->
    <% data.css.forEach(function(css) { %>
      <link rel="stylesheet" href="<%= css %>">
    <% }) %>

    <!-- JS -->
    <% data.scripts.forEach(function(script) { %>
      <script src="<%= script %>"></script>
    <% }) %>

  </head>

  <body ng-controller="MainCtrl" ng-cloak>

    <nav id='navigation' ng-controller="NavbarCtrl">

      <a class='logo' href='' ng-click='projectsDisplay = !projectsDisplay'>Box CMS</a>
        <nav class='sub' ng-show='projectsDisplay'>
          <header class='header'>
            <div class='options'>
              <a href='' ng-click='createNewProject()'>New</a>
            </div>
            <select ng-model='Context.current_project'
                    ng-options='project for project in Context.projects'>
            </select>
          </header>
          <section class='body'>
            <a href='' ng-click='deleteProject();'>Delete {{ Context.current_project }}</a>
            <a href='' ng-click='refreshProject();'>Refresh {{ Context.current_project }}</a>
          </section>
        </nav>
      <!-- Spacer if content is open and project options -->
      <a ng-show='projectsDisplay && isActive("#/")'></a>


      <a href='/#/' class='content' ng-class='{active:isActive("#/")}'>Content</a>
        <nav class='sub' ng-show='isActive("#/")' ng-controller="ProjectCtrl">
          <header class='header'>
            <div class='options'>
              <a href='' ng-click='showTypes = !showTypes'>Add</a>
            </div>
            <input type='text' placeholder='Filter by keyword' ng-model='contentSearch' />
          </header>
          <header class='header' ng-show='showTypes'>
            <div ng-repeat='(key, dt) in Context.types'>
              <a href='' ng-click='add(dt);'>
                Add {{ key }}
              </a>
              <br />
            </div>
          </header>
          <section class='body'>
            <a ng-repeat='content in Context.bulk_contents | filter:contentSearch'
               ng-click='editMode(content)' href=''>
               <!-- ng-class='{active : content.meta.filename == Context.current_content.meta.filename}' -->
              {{ content.meta.filename }}
              <span class='description'><b>Type:</b> {{ content.meta.type }}</span>
            </a>

            <!-- IF no Types -->
            <a ng-show='(Context.types | objectLength) == 0'
               href='#/types'>
              No types, click to create a type
              <span class='description'>You need at least 1 type to create content</span>
            </a>

            <!-- IF no Content -->
            <a ng-show='(Context.types | objectLength) != 0 && Context.bulk_contents.length == 0'
               ng-click='showTypes = !showTypes' href=''>
               No content items found
               <span class='description'>Click to add new content</span>
            </a>

          </section>
        </nav>

      <a href='/#/medias' class='media' ng-class='{active:isActive("#/medias")}'>Media</a>
        <nav class='sub' ng-show='isActive("#/medias")' ng-controller='MediaCtrl'>
          <header class='header'>
            <div class='options'>
              <a href='' ng-click='add()'>Add</a>
            </div>
            <input type='text' placeholder='Filter by keyword' ng-model='mediaSearch' />
          </header>
          <section class='body'>
            
          <a ng-repeat="content in Context.bulk_medias | filter: mediaSearch"
             ng-click='editMode(content)' href=''>
            {{ content.name | filesName }}
            <span class='description'><b>Type: </b> {{ content.name | filesExt }}</span>
          </a>

          <!-- IF no Media -->
          <a ng-show='Context.bulk_medias.length == 0' ng-click='add()' href=''>
            No media items found
            <span class='description'>Click to add a new media item</span>
          </a>

          </section>
        </nav>

      <a href='/#/types' class='settings' ng-class='{active:isActive("#/types")}'>Settings</a>
        <nav class='sub' ng-show='isActive("#/types")' ng-controller="TypesCtrl">
          <header class='header'>
            <div class='options'>
              <a href='' ng-click='add()'>New</a>
            </div>
            <input type='text' placeholder='Filter by keyword' ng-model='typeSearch' />
          </header>
          <section class='body'>
            
            <!-- !!TODO!! -->
            <!-- this should just be an array -->
            <a ng-repeat='(key, type) in Context.types | filter:typeSearch'
               ng-click='editMode(type)' href=''>
              {{ type.name }}
              <span class='description'><b>Fields:</b> {{ keyNumbers(type.schema.properties) }}</span>
            </a>

            <!-- IF no Types -->
            <a ng-show='(Context.types | objectLength) == 0'
               ng-click='add()' href=''>
              No types, click to create a type
              <span class='description'>You need at least 1 type to create content</span>
            </a>

          </section>
        </nav>

      <a href='#/pusher' class='pusher' ng-class='{active:isActive("#/pusher")}'>Push to Github</a>

      <a ng-show='User.get().name != null' href='#/user' class='user'><img ng-src='{{ User.get().email | gravatar }}' alt='{{User.get().name}}' />
        {{ User.get().name }}
      </a>

      <a href='' ng-click='debugMe()'><code>Console.log(Context)</code></a>
      <!-- <a href='' ng-click='logUser()'><code>Console.log(User)</code></a> -->
    </nav>

    <!-- Main View -->
    <section id='main'>
      <ng-view></ng-view>
    </section>

    <!-- Orion Feedback Messages -->
    <section id="messages">
      <feedback></feedback>
    </section>

    <!-- OVERLAY & MODAL -->
    <div id='overlay'></div>
    <div id='modal'>
      <header class='header'>
        <div class='options'>
          <a class='close'>Close</a>
        </div>
        <h2>Hello there, this is a prompt</h2>
      </header>

      <section class='wrapper'>
         <p>Stuff you would display in a prompt.</p>
      </section>

      <footer class='footer'>
        <a class='cancel'>Cancel</a>
        <a class='submit'>Chat</a>
      </footer>
    </div>

  </body>

</html>