<!DOCTYPE html>
<html x-ng-app="DCMS">
  <head>
    <title><%= data.title %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="<%= data.description %>">
    <meta name="viewport" content="width=device-width">
    
    <!-- Icons -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    
    <!-- CSS -->
    <% data.css.forEach(function(css) { %>
      <link rel="stylesheet" href="<%= css %>">
    <% }) %>

  </head>

  <body ng-controller="MainCtrl">

    <nav id='navigation' ng-controller="NavbarCtrl">

      <a href='/#/' class='logo'>Box CMS</a>

      <a href='/#/' class='content' ng-class='{active:isActive("#/")}'>Content</a>
        <nav class='sub' ng-show='isActive("#/")' ng-controller="ProjectCtrl">
        <header class='header'>
          <div class='options'>
            <a href=''>Add</a>
          </div>
          <input type='text' placeholder='Filter by keyword' ng-model='fts' />
        </header>
        <section class='body'>
          
          <a ng-repeat='content in Context.bulk_contents | filter:fts'
             ng-click='editMode(content)'>
             <!-- ng-class='{active : content.meta.filename == Context.current_content.meta.filename}' -->
            {{ content.meta.filename }}
            <span class='description'><b>Type:</b> {{ content.meta.type }}</span>
          </a>

          <!-- IF no Types -->
          <a ng-show='(Context.types | objectLength) == 0'
             href='#/types'>
            No types, click to create a type
            <span class='description'>You need at least 1 type to create content</span>
          </a>

          <!-- IF no Content -->
          <a ng-show='(Context.types | objectLength) != 0 && Context.bulk_contents.length == 0'
             ng-click='add()'>
             No content yet! Click to create new content
             <span class='description'>Time to get started!</span>
          </a>

        </section>
        </nav>

      <a href='/#/medias' class='media' ng-class='{active:isActive("#/medias")}'>Media</a>

      <a href='/#/types' class='settings' ng-class='{active:isActive("#/types")}'>Settings</a>
        <nav class='sub' ng-show='isActive("#/types")'>
        <header class='header'>
          <div class='options'>
            <a href='' ng-click='createNewProject()'>New</a>
          </div>
          <select ng-model='Context.current_project'
                  ng-options='project for project in Context.projects'>
          </select>
        </header>
        <section class='body'>
          <a href='' ng-click='deleteProject();'>Delete {{ Context.current_project }}</a>
          <a href='' ng-click='refreshProject();'>Refresh {{ Context.current_project }}</a>
        </section>
        </nav>

      <a href='/#/user' class='user'><img src='/assets/images/hunvreus.jpeg' alt='{{User.get().name}}' />
        {{ User.get().name }}
      </a>
    </nav>

    <!-- Main View -->
    <section id='main'>
      <ng-view></ng-view>
    </section>

    <!-- Orion Feedback Messages -->
    <section id="messages">
      <feedback></feedback>
    </section>

    <!-- OVERLAY & MODAL -->
    <div id='overlay'></div>
    <div id='modal'>
      <header class='header'>
        <div class='options'>
          <a class='close'>Close</a>
        </div>
        <h2>Hello there, this is a prompt</h2>
      </header>

      <section class='wrapper'>
         <p>Stuff you would display in a prompt.</p>
      </section>

      <footer class='footer'>
        <a class='cancel'>Cancel</a>
        <a class='submit'>Chat</a>
      </footer>
    </div>

    <!-- JS -->
    <% data.scripts.forEach(function(script) { %>
      <script src="<%= script %>"></script>
    <% }) %>

  </body>

</html>